.game-board-cell {
  width: 70px;
  height: 70px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board-cell div {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 0.5px solid black;
}

.game-board-cell div.player-1 {
  background-color: red;
}

.game-board-cell div.player-2 {
  background-color: yellow;
}

.game-board-cell div.empty {
  background-color: #fff;
}

.game-board-cell div.empty.hover-active {
  background-color: #ccc;
}

.game-board-cell div.empty.disk-preview {
  background-color: red;
}